<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="black">
{% for item in cart %}
    <td>
    {% with product=item.product%}

        Product: {{product.name}} <br>
        Quantity: {{item.quantity}}<br>
        Price : {{product.price}}<br>
    </td>

{%endwith%}
{%endfor%}

{% for item in cart %}
    <td>
    {% with product=item.product%}

        Product: {{product.name}} <br>
        Quantity: {{item.quantity}}<br>
        Price : {{product.price}}<br>
    </td>

{%endwith%}
{%endfor%}

<form action="{% url 'order:createpost' %}" method="POST">
    {% csrf_token %}
    First name: <input type="text" name="first_name"/><br/>
    Last name: <input type="text" name="last_name"/><br/>
    Address: <input type="text" name="address"/><br/>
    <input type="submit" value="Send"/>
</form>



<form action="{% url 'order:createpost' %}" method="POST">
    {% csrf_token %}
    First name: <input type="text" name="first_name"/><br/>
    Last name: <input type="text" name="last_name"/><br/>
    Address: <input type="text" name="address"/><br/>
    <input type="submit" value="Send"/>
</form>


</table>
</body>
</html>